<div class="container">
    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                    <textarea class="form-control" id="burger-name" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <h6>Enter a burger you want to eat. clikc the "Submit" button.</h6>
            </form>
        </div>
    </div>
</div>